@rendermode InteractiveServer
@page "/catalog"
@using Library.Core.Models.Items
@using Library.Web.Services
@using Library.Web.Components.UI
@inject LibraryService LibraryService

<PageTitle>Library Catalog</PageTitle>

<div class="d-flex justify-content-between align-items-end mb-4">
  <h2 class="fw-light text-white m-0">Catalog</h2>
  <div style="width: 300px;">
    <input type="text" class="form-control glass-input py-2" placeholder="Search title or author..." value="@searchTerm"
           @oninput="OnSearchInput" />
  </div>
</div>

@if (items == null)
{
  <div class="text-center py-5">
    <div class="spinner-grow text-light" role="status"></div>
  </div>
}
else
{
  <div class="row g-4">
    @foreach (var item in items)
    {
      <div class="col-md-4">
        <LibraryItemCard Item="item" OnPressed="HandlePressed" />
      </div>
    }
  </div>
}

@code {
  private List<LibraryItem>? items;
  private string searchTerm = "";

  protected override async Task OnInitializedAsync()
  {
    items = await LibraryService.GetAllItemsAsync();
  }
  private async Task OnSearchInput(ChangeEventArgs e)
  {
    // If searchbar is empty fetch from DB, All Library items searchable with built in 'Matches'
    string? lastSearch = searchTerm;
    searchTerm = e.Value?.ToString() ?? "";

    if (string.IsNullOrWhiteSpace(searchTerm))
    {
      items = await LibraryService.GetAllItemsAsync();
    }
    else if (searchTerm.Length > lastSearch.Length && items != null)
    {
      items = items.Where(i => i.Matches(searchTerm)).ToList();
    }
  }

  private void HandlePressed(LibraryItem item)
  {
    Console.WriteLine($"User wants to see: {item.Title}");
  }
}